body{
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.message{
  border-radius: 10px;
}




input[type=envoyer] {
  background-color: #140BC2;
  padding: 16px 12px;
  margin-left: 650px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


input[type=envoyer]:hover {
  background-color: #45a049;
}





.button {
    background-color: #3686EE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px #555;
  }






.largeur{
  width: 98%;
}




.label {
  margin-right: 25px;
}

.label2 {
  margin-right: 15px;

}


.aligner {
  width: 95%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


.aligner2 {
  width: 95%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.rouge {
  color: red;
}
